################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSDBPortal/bin/Debug/net10.0
/.vs
/CSDBPortal/obj
